@import "reset.css";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background-color: #CFC6DC;*/
    background-color: black;
}

.section {
    display: flex;
    padding-bottom: 50px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#first {
    justify-content: center;
    align-items: center;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: white;
    font-size: 100px;
}